body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}

h1 {
  font-size: 30px;
  color: #333;
}

#message {
  font-size: 24px;
  margin-top: 20px;
  display: none;
}

.button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

#yesButton {
  background-color: green;
  color: white;
}

#noButton {
  background-color: red;
  color: white;
  position: relative;
}

#footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #888;
}
